# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
.venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg

# PyInstaller
#  Usually these files are written by a python application
#  and should be excluded here, unless they are directly
#  required for the application to work.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Translations
*.mo
*.pot

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
venv/
env/

# MyPy
.mypy_cache/

# IDE/editor files
.idea/
.vscode/
*.swp
*.swo
*.sublime-project
*.sublime-workspace
# temporary files
*~
.DS_Store

# System Files
.Trashes
ehthumbs.db
Thumbs.db

# Poetry
poetry.lock

# Data
*.csv
*.json

# Logs
logs/
*.log
